article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */

input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-weight: 400;
	background: white;
	padding: 0; 
	margin: 0 auto;
	background-color: #201A13;
}

.container {
	width: 100%;
	padding: 0;
}

/* header section */
header {
	background-image: url('images/background.jpg');
	background-position: 0 0;
	position: relative;
	width: 100%;
	min-height: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
}
.bg-overlay{
	position: absolute;
	top: 0;
	left:0;
	right:0;
	bottom: 0;
	background-color: rgba(53,46,40,.7);
}
.banner{
    position: relative;
    left: 0;
    right: 0;
    top: 5%;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: 500px;
	}
.banner p{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 1.2rem;
	font-weight: 100;
	text-align: center;

}
/* form - ingredient bar */
h2.title{
	font-size: 5rem;
	font-weight: 100;
	text-align: center;
	margin-top: 30px;
}
form{
	display: flex;
	justify-content: center;

}
.field{
	background: none;
	color: white;
	border: 0;
	border-bottom: 2px solid white;
	padding: 20px;
	margin-top: 10%;
	margin-left: 10px;
}
::-webkit-input-placeholder { /* Chrome */
  color: white;
  text-transform: uppercase;
  opacity: .6;
  letter-spacing: 2px;
}
::-ms-input-placeholder { /* IE 10+ */
  color: white;
  text-transform: uppercase;
  opacity: .6;
  letter-spacing: 2px;
}
::-moz-placeholder { /* Firefox 19+ */
  color: white;
  text-transform: uppercase;
  opacity: .6;
  letter-spacing: 2px;
}
::-moz-placeholder { /* Firefox 4 - 18 */
  color: white;
  text-transform: uppercase;
  opacity: .6;
  letter-spacing: 2px;
}
.buttonDiv{
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 15%;
}
.button, .goToRecipe { 
	color: white;
	background-color: transparent;
	border: 2px solid white;
	padding: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 15px;
	
}
.goToRecipe{
	margin-top: -0;
	position: relative;
	top: 200px;
	left: 28%;
}
.button:hover .goToRecipe:hover { 
	background: #474747;
}
.firstSecond, .thirdFourth{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 20px;
}


/* recipe result section  */
section {
	background-size: cover;
	padding: 0;
	margin: 0 auto;	
}

/* result recipes */
#target {
	background-color: #f0f0f0;
	position: relative;	
	max-width: 100%;	
	padding: 0 30px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.image-wrapper {
	width: 320px;
	height: 320px;
	overflow: hidden;
	margin: 10px;
	z-index: 9999;
}
.image-wrapper a {
	display: block;
	width: 100%;
  
}
.image-wrapper img {
	object-fit: cover;
}
.image-wrapper:hover .slider-conditions{
	background: #ff4545;
	color: #fff;
}
.image-wrapper:hover {
	background-color: rgba(0,0,0,0.5);
}
.image-hover-wrapper {
	position: relative;
	text-align: center;
	overflow: hidden;
}
.image-hover {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	opacity: 0;
}
.image-hover-text {
	opacity: 0;
	position: absolute;
	bottom: -200px;
	padding-left: 10px;
	padding-right: 10px;
}
.image-hover-heading {
	text-transform: uppercase;
	color: #fff;
	font-size: 45px;
	margin-bottom: 0;
	text-align: center;
}
.image-wrapper:hover .image-hover,
.image-wrapper:hover .image-hover-text {
	transition: all .6s;
	opacity: 1; 
}
.image-wrapper:hover .image-hover-text {
	transition: all .6s;
	opacity: 1; 
	bottom: 10px;
}
.image-wrapper:hover img{
	transform: scale(1.3);
	transition: transform 1.2s ease,opacity .4s ease;
}
.recipeName{
	font-weight: 500;
}
.ingredientContent{
	font-size: .8rem;
	text-transform: lowercase;
	font-family: 'Montserrat', sans-serif;
}

footer{
	background-color: #201A13;
	margin: 0 auto;
	color: #f0f0f0;
}
.footerContainer{
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	height: 120px;
	padding: 20px;
	margin-top: 20px;
}
.yummly img{
	position: relative;
	top: 15px;
}

/* links */
a:link {
	text-decoration: none;
}

a:hover {
	color: white;
	text-decoration: none;
}

/* Media Queries */
@media all and (max-width: 1100px){
header {
	padding: 150px 30px;
	margin: 0px auto;
	}
	.banner p{
		margin-top: -50px;
		font-size: 1.5rem;
		width: 515px;
	}
	.firstSecond{
		padding-left: 20px;
	}
	.firstSecond, .thirdFourth{
		margin: 0;
		width: 350px;
	}
} 
@media all and (max-width: 736px){
	header {
		padding: 150px 30px 75px 30px;
		margin: 0px auto;
		}
	.image-wrapper {
		width: 300px;
		height: 300px;
	}
} 